body{
    background-color: #121212;
    
}

  #grid-canvas{
      border: 2px solid  #FF1493;
  }

  #container{
    width:350px;
    margin: 0 auto;
  }
  #game-container{
    text-align: center;
  }

  #controls-container{
    width: 130px;
    height: 100%;
    float: right;
    
  }

  #view-button{
    display: inline-block;
    height: 40px;
    text-align: center;
    font-size:15px;
    
   
    
  }

  #controls-container button{
    margin: 10px;
  }

  .next-tetromino{
    color:white;
    border: 2px solid #FF1493;
    font-size:15px;
    font-weight: bold;
    padding: 5px;
  }

  .score-container{
    color:rgb(255, 0, 0);
    border: 2px solid #FF1493;
    padding: 20px;
    font-size:25px;
    margin-top: 10px; 
    text-align: center;
  }

  .score-container::before{
    content: "lines cleared:";
    color: white;
    font-size: 15px;
    width: 100%;
    float: right;
  }